.toolbar {
  .toolbar-background {
    transition: background-color .1s;
  }

  $adding-toolbar-background: #fff;
  $adding-button-color: #444;
  $adding-icon-color: #666;

  &.addingtask {
    .toolbar-background {
      background-color: $adding-toolbar-background;
    }

    .bar-button-default {
      color: $adding-button-color;
    }

    ion-icon {
      color: $adding-icon-color;
    }
  }

  input {
    &.searchbar-input {
      box-shadow: none;
    }
  }
}

ion-buttons {
  &[left] {
    .bar-button {
      &:first-child {
        margin: 0 12px;
      }
    }
  }
}

.tasks {
  ion-list {
    .item-input {
      &:last-child {
        box-shadow: none;
      }
    }
  }

  .no-tasks {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    z-index: 1;

    $no-task-icon-color: #d3d3d3;

    ion-icon {
      color: $no-task-icon-color;
      font-size: 17rem;
    }

    h2 {
      font-size: 2.2rem;
      font-weight: 300;
    }
  }

  button {
    &[fab] {
      transition: transform .1s;
      z-index: 9;

      &.hidden {
        transform: scale(0);
      }
    }
  }

  .new-task {
    bottom: 0;
    left: 0;
    margin-bottom: 0;
    max-height: 100px;
    position: fixed;
    transition: max-height .1s;
    width: 100%;
    z-index: 9;

    &.hidden {
      max-height: 0;

      &::after {
        height: 0;
      }
    }

    &::after {
      background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAHBAMAAADzDtBxAAAAD1BMVEUAAAAAAAAAAAAAAAAAAABPDueNAAAABXRSTlMUCS0gBIh/TXEAAAAaSURBVAjXYxCEAgY4UIICBmMogMsgFLtAAQCNSwXZKOdPxgAAAABJRU5ErkJggg==');
      background-position: 0 0;
      background-repeat: repeat-x;
      bottom: auto;
      content: '';
      height: 3px;
      left: 0;
      position: absolute;
      top: -5px;
      width: 100%;

    }
  }
}
