<ion-header class="tasks-navbar">
  <ion-navbar danger [class.addingtask]="addingtask || searching">
    <button menuToggle *ngIf="!addingtask && !searching">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-buttons left *ngIf="addingtask && !searching">
      <button (click)="closeInput($event)">
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <ion-searchbar
      [hidden]="!searching"
      [(ngModel)]="searchtext"
      showCancelButton="true"
      (ionInput)="onSearchInput($event)"
      (ionCancel)="onSearchCancel($event)"
      (ionFocus)="onSearchFocus($event)">
      <input/>
    </ion-searchbar>
    <ion-title *ngIf="!addingtask && !searching">Inbox</ion-title>
    <ion-buttons end *ngIf="!addingtask && !searching">
      <button (click)="openSearch($event)">
        <ion-icon name="search"></ion-icon>
      </button>
      <button (click)="goToSearch()">
        <ion-icon name="square-outline"></ion-icon>
      </button>
      <button (click)="openSettings($event)">
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons end *ngIf="addingtask && !searching">
      <button>
        <ion-icon name="albums"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content fullscreen class="tasks">
  <div *ngIf="!searching">
    <div *ngIf="items.length === 0" class="layout flex column center no-tasks">
      <ion-icon name="mail-open"></ion-icon>
      <h2>No tasks for Inbox.</h2>
    </div>
    <div *ngIf="items.length !== 0">
      <ion-list no-lines>
        <ion-item *ngFor="let item of items">
         {{item.content}}
         <p>{{itemsService.pretifyDate(item.due_date_utc)}}</p>
        </ion-item>
      </ion-list>
    </div>
  </div>

  <div *ngIf="searching">
    <div class="layout flex column center no-tasks">
      <ion-icon name="search"></ion-icon>
      <h2>No tasks.</h2>
    </div>
  </div>

  <button [class.hidden]="addingtask || searching" fab fab-bottom fab-right fab-fixed color="secondary" (click)="addTask($event)">
    <ion-icon name="add"></ion-icon>
  </button>

  <ion-list class="new-task" no-lines [class.hidden]="!showaddingtask">
    <form (ngSubmit)="addNewTask($event)" #addform="ngForm">
      <ion-item>
        <ion-input placeholder="Add a task" name="newtask" [(ngModel)]="newtasktext"></ion-input>
      </ion-item>
    </form>
    <ion-toolbar light class="addingtask">
      <ion-buttons left>
        <button>
          <ion-icon name="calendar"></ion-icon>
        </button>
      </ion-buttons>
      <ion-buttons end>
        <button (click)="addNewTask($event)">
          <ion-icon name="play"></ion-icon>
        </button>
      </ion-buttons>
    </ion-toolbar>
  </ion-list>
</ion-content>
