<ion-header class="tasks-navbar">
  <ion-navbar danger [class.addingtask]="addingtask">
    <button menuToggle *ngIf="!addingtask">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-buttons left *ngIf="addingtask">
      <button (click)="closeInput($event)">
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title *ngIf="!addingtask">Inbox</ion-title>
    <ion-buttons end *ngIf="!addingtask">
      <button (click)="goToSearch($event)">
        <ion-icon name="search"></ion-icon>
      </button>
      <button (click)="goToSearch()">
        <ion-icon name="square-outline"></ion-icon>
      </button>
      <button (click)="openSettings($event)">
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons end *ngIf="addingtask">
      <button>
        <ion-icon name="albums"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content fullscreen class="tasks">
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <scroll-content class="layout flex column center no-tasks">
    <ion-icon name="mail-open"></ion-icon>
    <h2>No tasks for Inbox.</h2>
  </scroll-content>

  <button [class.hidden]="addingtask" fab fab-bottom fab-right fab-fixed color="secondary" (click)="addTask($event)">
    <ion-icon name="add"></ion-icon>
  </button>

  <ion-list class="new-task" no-lines [hidden]="!addingtask">
    <form (ngSubmit)="addNewTask($event)" #addform="ngForm">
      <ion-item>
        <ion-input placeholder="Add a task" name="task" [(ngModel)]="newtasktext"></ion-input>
      </ion-item>
    </form>
    <ion-toolbar light class="addingtask">
      <ion-buttons left>
        <button>
          <ion-icon name="calendar"></ion-icon>
        </button>
      </ion-buttons>
      <ion-buttons end>
        <button (click)="addNewTask($event)">
          <ion-icon name="play"></ion-icon>
        </button>
      </ion-buttons>
    </ion-toolbar>
  </ion-list>
</ion-content>
