.settings {
  ion-list {
    margin-top: 8px;
  }
  ion-item-divider[secondary] {
    background-color: #fff;
    color: #ff9e13;
    border: none;
    text-transform: uppercase;
    font-weight: 500;
  }
}

.main.settings {
  ion-list {
    .item {
      min-height: 5.7rem;
    }
  }
}

a[disabled], button[disabled], .button[disabled] {
  opacity: 1;
  .item-inner {
    opacity: 0.4;
  }
}

@import "./premium/premium";
@import "./general/general";
@import "./notifications/notifications";
