.menu-list {
  .item {
    &:nth-last-child(2) {
      border-bottom: 1px solid $list-md-border-color;
    }
  }

  ion-avatar {
    margin: 4px 9px 4px 4px;
    min-width: 3rem;

    $avatar-icon-color: #666;

    ion-icon {
      color: $avatar-icon-color;
      font-size: 1.5em;
    }
  }

  ion-label {
    font-size: 1.4rem;
    font-weight: 500;
  }

  $task-count-color: #999;

  .task-count {
    color: $task-count-color;
    font-weight: 300;
  }

  .activated {
    color: $danger-color;

    ion-icon {
      color: $danger-color;
    }

    .task-count {
      color: $danger-color;
    }
  }

  .sub-list {
    .item {
      padding-left: 30px;
    }

    ion-avatar {
      margin-right: 4px;
    }

    $dot-size: 10px;

    .dot {
      background: red;
      border-radius: 50%;
      height: $dot-size;
      margin: 0 auto;
      width: $dot-size;
    }
  }
}
