<ion-list class="menu-list" no-lines>
  <button class="activated" menuClose ion-item (click)="openInbox($event)">
    <ion-avatar item-left class="layout flex column center">
      <ion-icon name="mail-open"></ion-icon>
    </ion-avatar>
    <div class="layout flex between">
      <span>Inbox</span>
      <span *ngIf="syncService.syncData" class="task-count">{{itemsService.getInboxItemsCount()}}</span>
    </div>
  </button>
  <button menuClose ion-item (click)="openInbox($event)">
    <ion-avatar item-left class="layout flex column center">
      <ion-icon name="calendar"></ion-icon>
    </ion-avatar>
    <div class="layout flex between">
      <span>Today</span>
      <span *ngIf="syncService.syncData" class="task-count">{{itemsService.getTodayItemsCount()}}</span>
    </div>
  </button>
  <button menuClose ion-item (click)="openInbox($event)">
    <ion-avatar item-left class="layout flex column center">
      <ion-icon name="mail-open"></ion-icon>
    </ion-avatar>
    <div class="layout flex between">
      <span>Next 7 Days</span>
      <span *ngIf="syncService.syncData" class="task-count">{{itemsService.getSevenDaysItemsCount()}}</span>
    </div>
  </button>
  <button ion-item (click)="showProjects = !showProjects;">
    <ion-avatar item-left class="layout flex column center">
      <ion-icon name="mail"></ion-icon>
    </ion-avatar>
    <div class="layout flex between">
      <span>Projects</span>
      <span class="task-count"><ion-icon name="arrow-dropdown"></ion-icon></span>
    </div>
  </button>
  <ion-list *ngIf="showProjects && syncService.syncData && syncService.syncData.projects" no-lines class="sub-list">
    <button ion-item *ngFor="let project of syncService.syncData.projects" [hidden]="project.inbox_project">
      <ion-avatar item-left class="layout flex column center">
        <i class="dot" [style.background-color]="projectsService.getProjectColor(project.color)"></i>
      </ion-avatar>
      <div class="layout flex between">
        <span>{{project.name}}</span>
        <span class="task-count">{{projectsService.getProjectCount(project.id)}}</span>
      </div>
    </button>
  </ion-list>
  <button ion-item (click)="openInbox($event)">
    <ion-avatar item-left class="layout flex column center">
      <ion-icon name="mail"></ion-icon>
    </ion-avatar>
    <div class="layout flex between">
      <span>Labels</span>
    </div>
  </button>
  <button ion-item (click)="openInbox($event)">
    <ion-avatar item-left class="layout flex column center">
      <ion-icon name="mail"></ion-icon>
    </ion-avatar>
    <div class="layout flex between">
      <span>Filters</span>
      <span class="task-count"><ion-icon name="arrow-dropdown"></ion-icon></span>
    </div>
  </button>
  <button lines ion-item (click)="openSettings($event)">
    <ion-avatar item-left class="layout flex column center">
      <ion-icon name="settings"></ion-icon>
    </ion-avatar>
    <div class="layout flex between">
      <span>Settings</span>
    </div>
  </button>
</ion-list>
