.profile-info {
  margin: 25px 20px 25px 10px;
  .profile-image-wrapper {
    margin-right: 20px;
    .profile-image-background {
      background-color: #fefefe;
      background-size: contain;
      border-radius: 50%;
      height: 50px;
      position: relative;
      width: 50px;

      .profile-image-tooltip {
        background: #fff;
        border-radius: 50%;
        bottom: 0;
        color: $danger-color;
        font-size: 1.1rem;
        height: 20px;
        position: absolute;
        right: 0;
        text-align: center;
        width: 20px;

        ion-icon {
          height: 10px;
        }
       }
     }
   }
  .profile-info-text {
    color: #fff;
    .profile-name {
      font-size: 1.6rem;
      font-weight: 500;
    }

    .profile-karma {
      letter-spacing: -.2px;
    }

    > div {
      margin: 3px 0;
    }
  }
}
