.premium-settings {
  $ion-slide-color: #fff;

  ion-slides {
    background: $danger-color;
    color: $ion-slide-color;
    height: 75%;

    p {
      color: $ion-slide-color;
    }

    ion-slide {
      align-items: flex-start;
      justify-content: flex-start;

      img {
        height: 200px;
      }

      .text {
        margin: 40px;
      }

      h3,
      p {
        font-weight: 400;
        text-align: left;
      }

      h3 {
        font-size: 2rem;
      }

      p {
        font-size: 1.6rem;
      }
    }

    $swiper-pagination-color: #fff;

    .swiper-pagination-bullet {
      background: $swiper-pagination-color;
    }
  }

  .upgrade-button {
    height: 15%;
    margin-top: 1rem;

    button {
      font-weight: 400;
      padding: 25px 70px;
      text-align: center;
      text-transform: uppercase;
    }

    $upgrade-text-color: #666;

    .text {
      color: $upgrade-text-color;
      font-size: 1.2rem;
      text-align: center;
    }
  }
}

.integrated-header {
  &::after {
    content: none;
  }
}
