.premium-settings {
  ion-slides {
    color: #fff;
    height: 75%;
    background: $danger-color;
    p {
      color: #fff;
    }
    ion-slide {
      justify-content: flex-start;
      align-items: flex-start;
      img {
        height: 200px;
      }
      .text {
        margin: 40px;
      }
      h3,p {
        text-align: left;
        font-weight: 400;
      }
      h3 {
        font-size: 2rem;
      }
      p {
        font-size: 1.6rem;
      }
    }
    .swiper-pagination-bullet {
      background: #fff;
    }
  }
  .upgrade-button {
    height: 15%;
    margin-top: 1rem;
    button {
      text-align: center;
      text-transform: uppercase;
      font-weight: 400;
      padding: 25px 70px;
    }
    .text {
      text-align: center;
      font-size: 1.2rem;
      color: #666;
    }
  }
}

.integrated-header {
  &::after {
    content: none;
  }
}
