.notifications {
  &.settings {

    $item-on-color: #fff;

    .on-switch {
      .item {
        background: $danger-color;
        border: none;
        color: $item-on-color;

        .item-inner {
          border: none;
        }
      }
    }
  }
}
